* {
    font-family: 'Courier New', Courier, monospace;
}
html, body, head {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#main {
    width: 60%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: rgb(84, 178, 232);
}
#shop {
    position: fixed;
    display: inline-block;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: rgb(37, 120, 168);
    box-shadow: -5px 0 3px rgb(37, 120, 168);
    padding: 0;
    margin: 0;
    overflow-x: scroll;
}
#upgrades {
    width: 95%;
    background-color: rgb(84, 178, 232);
    margin-top: 1vw;
    margin-left: 1vw;
    box-shadow: 0 0 5px rgb(84, 178, 232);
    border-radius: 5px;
}
#cursor {
    width: 60%;
    height: 60%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
#money {
    text-align: center;
    font-size: 5vmin;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.shopitem {
    background-color: rgb(84, 178, 232);
    box-shadow: 0 0 5px rgb(84, 178, 232);
    width: 35vw;
    padding: 1.25vw;
    margin-left: 1.25vw;
    margin-top: 1.25vw;
    position: relative;
    border-radius: 5px;
}
.shopitem > h1 {
    font-size: 5vmin;
    margin: 0;
    width: 35vmin;
    text-align: center;
}
.shopitem > p {
    font-size: 3vmin;
    margin: 0;
    text-align: center;
}
.shopitem > button {
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 3vmin;
    width: 100%;
}
.shopitem > img {
    width: 5vmin;
    height: 5vmin;
    border-radius: 5px;
    margin-left: 50%;
    translate: -50% 0;
    object-fit: contain;
    background-color: rgb(37, 120, 168);
    padding: 1vmin;
}
#stats {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#stats > h1 {
    font-size: 3vmin;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 0;
}
#next {
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0 -50%;
    width: 7.5vmin;
    height: 35vmin;
    border-top-left-radius: 5vmin;
    border-bottom-left-radius: 5vmin;
    background-color: rgb(37, 120, 168);
    box-shadow: 0 0 5px rgb(37, 120, 168);
}
#flashbang {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 3s;
    opacity: 0;
    background-color: white;
    scale: 0;
}